{% extends "layout.html" %}
{% block content %}
    <div class="content-section">   
        <img src="{{ url_for('static', filename='website_pics/' + '106_logo.png') }}" width="125" height="125" align=right>
        </br>
        <h2>De richting van 106 Inlncie</h2>
        </br>
        <h4>Het oogmerk van de commandant</h4>
        </br></br></br>
        <p>Nulla id consequat neque. Sed fringilla fringilla eros porttitor convallis. Nam nisi arcu, sodales ut mollis quis, rutrum eu eros. Integer et aliquam 
        quam. Quisque porttitor enim vitae purus hendrerit vehicula quis id ante. Mauris vitae iaculis lacus. Donec molestie luctus aliquet. Nullam sapien erat,
        feugiat eu lobortis porta, aliquet convallis libero. Curabitur lacus velit, auctor ultricies odio ut, semper tincidunt erat. Mauris ipsum mauris, 
        mattis at maximus vel, malesuada nec justo. Aenean volutpat a felis id pellentesque. Nam tempor nisl sit amet tincidunt dictum. Sed auctor arcu a erat 
        feugiat, non ultricies lorem placerat. Aliquam facilisis maximus dolor eget facilisis.</p>
        <p>Duis fringilla risus sit amet interdum varius. Curabitur dictum consequat nisl, sed sodales tellus commodo aliquet. Integer porta feugiat maximus. 
        Morbi et dolor id nisl tincidunt sagittis. Nam lacus metus, malesuada eleifend pharetra vitae, placerat luctus diam. Aliquam ut massa ipsum. Proin suscipit 
        ante quis volutpat sagittis. Nulla fermentum pretium leo at dictum. Donec non purus eget nunc tempus tincidunt tempor id erat. Nullam dictum felis vel sapien
        auctor imperdiet.</p>
        <p>Pellentesque mattis tincidunt metus nec finibus. Maecenas blandit dictum nibh vel maximus. Phasellus hendrerit, urna eget suscipit feugiat, odio mi 
        feugiat libero, euismod vulputate sem mi et ante. Pellentesque nec ornare ligula, vitae fringilla lorem. Donec facilisis velit ex, eu vestibulum orci semper 
        eget. Fusce eget condimentum orci. Vestibulum lectus risus, ultrices sit amet commodo in, facilisis nec justo. In sit amet lacus non diam cursus congue ut nec 
        una. Maecenas vel hendrerit nunc. Suspendisse efficitur, erat eget egestas eleifend, mi sem tempus nunc, sed sollicitudin libero nunc at mi. Maecenas porttitor, 
        dui eu bibendum aliquet, diam neque iaculis nulla,<em> ut viverra lorem massa sit amet lacus.</em></p>
    </div>    
{% endblock content %}