{% extends "layout.html" %}
{% block content %}
    
    <div class="content-section">   
        <h2>106 Inlichtingen compagie</h2>
        <h4>Unitas in diversitatis</h4>
        <p> Fusce sit amet velit laoreet, pellentesque sapien quis, vulputate diam. Ut sodales sit amet leo sit amet auctor. Aenean est sapien, convallis ut ante in, 
            vehicula sodales ipsum. Duis vitae ullamcorper nunc. Vivamus sodales neque sapien, in tristique tortor sollicitudin vitae. Ut condimentum sapien eget magna 
            volutpat, sit amet sagittis velit scelerisque. Curabitur venenatis dictum ante, semper placerat neque. Ut mattis, ipsum nec commodo sodales, elit velit 
            iaculis libero, et bibendum metus nisl a leo. Cras a vulputate risus. Vestibulum non nunc et dolor venenatis sagittis non eget mauris. Vestibulum tempus 
            ligula vel iaculis rutrum.</p>
    </div>    
{% endblock content %}