{% extends "layout.html" %} 
{% block content %}
    <div class="content-section">   
        <h2>Welkom bij 106 Inlichtingen compagnie</h2>
        <h4></h4>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo sem orci, ac dapibus lectus gravida in. Morbi facilisis hendrerit dui, 
        sed placerat nunc venenatis nec. Curabitur et mauris sit amet nisl lacinia tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
        r inceptos himenaeos. Fusce egestas dolor purus, et cursus erat suscipit sit amet. Phasellus dignissim libero et mauris finibus, a volutpat dolor commodo. 
        Nam porttitor nunc quam, ac sagittis nisl facilisis sed. Donec a ante augue. Suspendisse vehicula metus ac feugiat congue.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        <p> Fusce sit amet velit laoreet, pellentesque sapien quis, vulputate diam. Ut sodales sit amet leo sit amet auctor. Aenean est sapien, convallis ut ante in, 
        vehicula sodales ipsum. Duis vitae ullamcorper nunc. Vivamus sodales neque sapien, in tristique tortor sollicitudin vitae. Ut condimentum sapien eget magna 
        volutpat, sit amet sagittis velit scelerisque. Curabitur venenatis dictum ante, semper placerat neque. Ut mattis, ipsum nec commodo sodales, elit velit 
        iaculis libero, et bibendum metus nisl a leo. Cras a vulputate risus. Vestibulum non nunc et dolor venenatis sagittis non eget mauris. Vestibulum tempus 
        ligula vel iaculis rutrum.</p>
        <p>Pellentesque mattis tincidunt metus nec finibus. Maecenas blandit dictum nibh vel maximus. Phasellus hendrerit, urna eget suscipit feugiat, odio mi 
        feugiat libero, euismod vulputate sem mi et ante. Pellentesque nec ornare ligula, vitae fringilla lorem. Donec facilisis velit ex, eu vestibulum orci semper 
        eget. Fusce eget condimentum orci. Vestibulum lectus risus, ultrices sit amet commodo in, facilisis nec justo. In sit amet lacus non diam cursus congue ut nec 
        una. Maecenas vel hendrerit nunc. Suspendisse efficitur, erat eget egestas eleifend, mi sem tempus nunc, sed sollicitudin libero nunc at mi. Maecenas porttitor, 
        dui eu bibendum aliquet, diam neque iaculis nulla,<em> ut viverra lorem massa sit amet lacus.</em></p>  

        


    </div>    

    
    
{% endblock content %}